# AI
.claude
.etabli

# Build Output
Build/
TestBuilds/
scripts/python/__pycache__/
**/.DS_Store
**/.idea/*
**/Temp/*
plug-ins/**/TestPlayers
**/Apple Plug-In Support/
**/Apple Plug-In Support.meta
**/NativeLibraries~/

# VS Code/Xcode
**/.vsconfig
**/xcuserdata
*.vsconfig
**/.vscode/*


