root = false

[*.cs]
# prefix_class_with_ch_style - Classes etc should be PascalCase, but can have a 'CH' prefix
dotnet_naming_style.prefix_class_with_ch_style.capitalization = pascal_case
dotnet_naming_style.prefix_class_with_ch_style.required_prefix = CH

# Classes and structs start with 'CH'
dotnet_naming_symbols.ch_class_group.applicable_kinds = class, struct
dotnet_naming_rule.ch_class_rule.symbols              = ch_class_group
dotnet_naming_rule.ch_class_rule.style                = prefix_class_with_ch_style
dotnet_naming_rule.ch_class_rule.severity             = warning
