#include "GameKit.xcconfig"

// SYSTEM_FRAMEWORK_SEARCH_PATHS = /Users/adamszofran/Downloads/luxon-sdk-appletvos19.0.internal-e2c28d55-347e-11f0-92ba-dde387003540/System/Library/Frameworks /Users/adamszofran/Downloads/luxon-sdk-appletvos19.0.internal-e2c28d55-347e-11f0-92ba-dde387003540/System/Library/PrivateFrameworks
// SDKROOT = appletvos.internal
